.menu-box-izq {
    position: absolute;
    width: 189px;
    height: 1023px;
    left: 0px;
    top: 1px;
    background: #2E4154;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#informacion-text {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 22px;
    top: 273px;
    color: white;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    z-index: 1;
}
.edvisto-icon {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 30px;
    top: 25px;
}

#evaluacion-text {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 42px;
    top: 260px;   
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;   
    color: #FFFFFF;
}
.evaluacion-icon {
    position: absolute;
    width: 69px;
    height: 69px;
    left: 59px;
    top: 200px;       
}

#analisis-text {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 41px;
    top: 623px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.analisis-icon {
    position: absolute;
    width: 68px;
    height: 69px;
    left: 58px;
    top: 563px;
}

#informe-text {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 41px;
    top: 798px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.informacion-icon {
    position: absolute;
    width: 68px;
    height: 69px;
    left: 59px;
    top: 213px;
    z-index: 1;
}
.informe-icon {
    position: absolute;
    width: 69px;
    height: 69px;
    left: 58px;
    top: 738px;
}
h6 {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#sup-izq {
    position: absolute;
    width: 321px;
    height: 31px;
    left: 273px;
    top: 42px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7A7399;    
}
#sup-der {
    position: absolute;
    width: 130px;
    height: 31px;
    left: 1100px;
    top: 42px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center; 
    color: #7A7399;
}
.mayor-que-logo {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 254px;
    top: 73px;
}
.usuario-logo {
    position: absolute;
    width: 50.5px;
    height: 50.5px;
    left: 1258px;
    top: 65px;
}
.config-logo {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 1309px;
    top: 64px;
}
.pestaña { /*pestaña VERDE izquierda*/
    position: absolute;
    width: 257px;
    height: 142px;
    left: 0px;
    top: 194px;
    background: #73CAA3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 30px 30px 0px;
}
#colegio-text {
    position: absolute;
    width: 735px;
    height: 31px;
    left: 446px;
    top: 227px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #6B839A;
}
#colegio-input {
    box-sizing: border-box;
    position: absolute;
    width: 735px;
    height: 44px;
    left: 446px;
    top: 278px;
    background: #FFFFFF;
    border: 3px solid #6B839A;
}
#materia-text {
    position: absolute;
    width: 752px;
    height: 31px;
    left: 446px;
    top: 326px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7A7399;
}
#materia-input {
    box-sizing: border-box;
    position: absolute;
    width: 735px;
    height: 44px;
    left: 446px;
    top: 374px;
    background: #FFFFFF;
    border: 3px solid #6B839A;    
}
#evaluacion-individual {
    position: absolute;
    width: 163px;
    height: 58px;
    left: 446px;
    top: 474px;
    background: #6B839A;
    border: 3px solid #6B839A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
    text-align: center;
    color: #FFFFFF;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
}
#evaluacion-grupal {
    position: absolute;
    width: 163px;
    height: 58px;
    left: 656px;
    top: 474px;
    background: #6B839A;
    border: 3px solid #6B839A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Barlow Semi Condensed';
}
.agregar-usuario-1 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 467px;
    top: 584px;    
}
.agregar-usuario-2 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 588px;
    top: 584px;    
}
.agregar-usuario-3 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 709px;
    top: 584px;
}
.agregar-usuario-4 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 467px;
    top: 693px;    
}
.agregar-usuario-5 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 588px;
    top: 693px;
}
.agregar-usuario-6 {
    position: absolute;
    width: 89px;
    height: 89px;
    left: 709px;
    top: 693px;    
}
.guardar-info-icon {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 968px;
    top: 559px;
}
#guardar-info-button {
    position: absolute;
    width: 163px;
    height: 58px;
    left: 951px;
    top: 714px;
    background: #73CAA3;
    border: 3px solid #73CAA3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;    
}

