.menu-box-izq {
    position: absolute;
    width: 189px;
    height: 1023px;
    left: 0px;
    top: 1px;
    background: #2E4154;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: -2;
}
.informacion-icon {
    position: absolute;
    width: 68px;
    height: 69px;
    left: 59px;
    top: 213px;
}

#informacion-text {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 22px;
    top: 293px;
    color: white;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.edvisto-icon {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 30px;
    top: 25px;
}

#evaluacion-text {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 42px;
    top: 468px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;  
    color: #FFFFFF;   
    z-index: 2;
}
.evaluacion-icon {
    position: absolute;
    width: 69px;
    height: 69px;
    left: 59px;
    top: 388px;
}

#analisis-text {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 41px;
    top: 643px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.analisis-icon {
    position: absolute;
    width: 68px;
    height: 69px;
    left: 58px;
    top: 563px;
}

#informe-text {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 41px;
    top: 818px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.informe-icon {
    position: absolute;
    width: 69px;
    height: 69px;
    left: 58px;
    top: 738px;
}
h6 {
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#sup-izq {
    position: absolute;
    width: 321px;
    height: 31px;
    left: 273px;
    top: 42px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7A7399;    
}
#sup-der {
    position: absolute;
    width: 130px;
    height: 31px;
    left: 1100px;
    top: 42px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center; 
    color: #7A7399;
}
.mayor-que-logo {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 254px;
    top: 73px;
}
.usuario-logo {
    position: absolute;
    width: 50.5px;
    height: 50.5px;
    left: 1258px;
    top: 65px;
}
.config-logo {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 1309px;
    top: 64px;
}
